<div id= "top_bar">
{% block topbar %}
    This should be in the top bar
{% endblock topbar %}
</div>

<style>
div#top_bar
{
    border: 3px solid green;
}
</style>

<div id="wrapper">
{% block navbar %}
<div id="navbar"> 
<ul> 
  <li><a href="http://www.w3.org/Consortium/activities">W3C Activities</a></li> 
  <li><a href="http://www.w3.org/TR/">W3C Technical Reports</a></li> 
  <li><a href="http://www.w3.org/Consortium/siteindex">W3C Site Index</a></li> 
  <li><a href="http://www.w3.org/Consortium/new-to-w3c">New Visitors</a></li> 
  <li><a href="http://www.w3.org/Consortium/">About W3C</a></li> 
  <li><a href="http://www.w3.org/Consortium/join">Join W3C</a></li> 
  <li><a href="http://www.w3.org/Consortium/contact">Contact W3C</a></li> 
</ul>   
</div> 

<style>
div#wrapper
{
    position: relative;
}

div#navbar
{
    position: absolute;
    float: left;
    top: 0;
    bottom: 0;
    width:15%;
    margin-right: 50px;
    border: 3px solid black;
}
</style>

{% endblock navbar %}
<div id= "content">
{% block content %}
{% endblock content %}
</div>
<style>
div#content
{
    position: relative;
    
    border: 3px solid red;
    left: 15%;
    width: 85%;
}
</style>
</div>
